.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    border-radius: .2rem;
    position: absolute;
    z-index: 10;
    outline-offset: 2rem;
    transition: all .5s;

    &--p1 {
      left: 0;
      top: -2rem;
    }

    &--p2 {
      right: 0;
      top: 2rem;
    }

    &--p3 {
      top: 10rem;
      left: 20%;
    }

    &:hover {
      outline: 1.5rem solid $color-primary;
      transform: scale(1.05) translateY(-1rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, .6);
      z-index:20;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(.90);
  }
  //composition:hover composition__photo:not(:hovered) {}
}
